@model string
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-wdith" />
    <title>Index</title>
</head>
<body style="padding: 36 pt; background-color: cornflowerblue;">
    <h1>This an H1 Header</h1>
    <div>
        <div style="color: rebeccapurple; font-size: 32pt; font-family: sans-serif;">
            @Model
        </div>
        Hello World (from the view)
    </div>

</body>
</html>